= form_for guestbook_comment, url: comments_guestbook_index_path(post_id: post.id), html: {class: 'guestbook-post-comments__new-form', data: {post_id: post.id}}, remote: true do |f|
  = f.submit 'Комментировать', class: 'btn'
  = f.text_area :message, required: :required
  .clear
