%tr
  %td= post.title
  %td= get_time post.created_at
  %td 0
  %td
    = link_to 'Изменить', edit_admin_post_path(post), class: 'btn btn-mini'
    = link_to 'Удалить', admin_post_path(post), method: :delete, class: 'btn btn-mini btn-danger'
  