%legend
  - if @girl.present?
    = link_to 'Комментарии', admin_girls_comments_path
    —
    = @girl.name
  - else
    Комментарии

  .pull-right
    = link_to 'Девушки', admin_girls_path, class: 'btn'
%table.table.table-striped
  %thead
    %tr
      %th Автор
      %th Комментарий
      %th Девушка
      %th Дата создания
      %th Действия
  %tbody
    = render partial: 'comment', collection: @comments
