%legend
  Список
  .pull-right
    = link_to 'Комментарии', admin_girls_comments_path, class: 'btn'
    = link_to 'Добавить', new_admin_girl_path, class: 'btn'

%table.table.table-striped
  %thead
    %tr
      %th Автор
      %th Комментарий
      %th Девушка
      %th Дата создания
      %th Действия
  %tbody
    = render partial: 'comment', collection: @comments
