= form_for post_comment, url: post_comments_path(post_id: post.id), data: {post_id: post.id}, remote: true do |f|
  = f.text_area :message, required: :required, placeholder: 'Комментировать..', style: 'height: 22px'
  = f.submit 'Отправить', class: 'btn'