%section#girls
  .wrapper
    .title
      Девушки
      %small
        Они такие же, как и на фото.
    .girls
      = render @girls
      .modals
        = render partial: 'modal', collection: @girls, as: :girl
        .girl-modal-overlay