%section#girls
  .wrapper
    .title
      Девушки
      %small
        Они такие же, как и на фото.




    .girls
      - @girls.each do |girl|
        = render partial: 'girls/girl', locals: {girl: girl}