%p Привет, #{@resource.email}!
%p Кто-то отправил запрос на смену пароля. Вы можете сменить его перейдя по ссылке ниже.
%p= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Если вы не отсылали запрос, проигнорируйте данное сообщение.