%section
  .wrapper
    .title
      Что вас ожидает

    .triggers

      .trigger-container
        .trigger-header
          .trigger-icon
            .icon.shower
          .trigger-title
            Душевая кабина в каждой комнате

        .trigger-desc
          В каждой из наших комнат установлена душевая кабина или джакузи.
          У нас всегда в наличии ароматные гели для душа на выбор.


      .trigger-container
        .trigger-header
          .trigger-icon
            .icon.diplom
          .trigger-title
            Массажисты с дипломами

        .trigger-desc
          Все наши массажисты имеют дипломы об окончании курсов классического массажа и эротического массажа для женщин.


      .trigger-container
        .trigger-header
          .trigger-icon
            .icon.shampun
          .trigger-title
            Шампанское в подарок каждой гостье

        .trigger-desc
          Для создания неформальной обстановки ;)


      .trigger-container
        .trigger-header
          .trigger-icon
            .icon.press
          .trigger-title
            Эксклюзивное предложение

        .trigger-desc
          Мы - первые в Москве, кто оказывает услуги эротического массажа для женщин на высоком уровне.