#intro
  .wrapper
    .slogan
      Салон
      %span.pink "Мир массажа"
      %br
      Приглашает вас на
      %br
      %span.pink эротический массаж

%section#programs
  .wrapper
    .title
      Программы и цены


    .programs
      .program
        .title
          1 час
          .price
            1 700
            %small
              рублей

      .program
        .title
          2 часа с 2 девушками
          .price
            6 100
            %small
              рублей

      .program
        .title
          3 часа и 3 девушки
          .price
            12 000
            %small
              рублей


-#%section#preferences
  .wrapper
    .title
      Почему к нам возвращаются


    .preferences
      .preference
        .title
          Душевая кабина в каждой комнате
        .content
          В каждой из наших комнат установлена душевая кабина или джакузи. Таким образом вам не нужно ожидать очереди в душ.
          У нас всегда в наличии ароматные гели для душа на выбор.
      .preference
        .title
          Чайная церемония для каждого гостя
        .content
          Каждому пришедшему гостю мы устраиваем чайную церемонию. У нас в коллекции более тридцати сортов чая. Также у нас
          работает кофе-машина, так что вы можете взбодриться отличным свежесваренным эспрессо до или после массажа.
      .preference
        .title
          У наших массажисток есть дипломы
        .content
          у каждой из наших массажисток есть диплом о том, что она массажистка.

      .preference
        .title
          Полотенца и тапочки
        .content
          Когда вы заходите к нам в салон, мы обязательно предоставим вам одноразовые тапочки. А вот полотенце вы можете выбрать:
          однаразовое или махровое. Мы стираем наши махровые полотенца в прачечной, они всегда стерильные и вкусно пахнут.




%section#rooms
  .wrapper
    .title
      Интерьер
      %small
        У нас 6 комнат и каждая из них  неповторима.

    .rooms
      - @rooms.each do |room|
        = render partial: 'rooms/room', locals: {room: room}

#map



#footer
  .wrapper
    Наши реквизиты:
    %br
    ООО "Мир массажа"
    %br
    ИНН/КПП 7726698010/772601001
    %br
    ОГРН 1127746417105
    %br
    Москва, улица Степана Супруна, дом 12


%script#balloon-template{type: :template}
  .balloon
    .content
      Мы находимся на м. Динамо,
      %br
      улица Степана Супруна, дом 12.
      %br
      тел: 8 (962) 918-69-85
    .arrow-up
