.overlay



.modal-wrapper
  .olo
    .modal-close
      %a#close-modal{href: '#'}
        закрыть (х)
    .modal


.topbar
  .wrapper
    .logo
      paparam

    %ul.navigation
      -#%li
        %a{href: '#'}
          О заведении

      %li
        %a.nav-link{href: '#', rel_id: 'girls'}
          Девушки

      %li
        %a.nav-link{href: '#', rel_id: 'programs'}
          Программы

      %li
        %a.nav-link{href: '#', rel_id: 'rooms'}
          Интерьер

      %li
        %a.nav-link{href: '#', rel_id: 'map'}
          Контакты

      %li
        %a.get-call{href: '#'}
          Заказать звонок


#intro
  .wrapper
    .slogan
      Салон эротического
      %br
      массажа
      %span.pink
        "Мир массажа"
      %br
      приглашает мужчин
      %br
      прорекласироваться



%section#girls
  .wrapper
    .title
      Девушки
      %small
        Они такие же, как и на фото.




    .girls
      - @girls.each do |girl|
        = render partial: 'girls/girl', locals: {girl: girl}



%section#programs
  .wrapper
    .title
      Программы и цены


    .programs
      .program
        .title
          1 час =
          .price
            1 800
            %small
              рублей

      .program
        .title
          2 часа =
          .price
            3 200
            %small
              рублей

      .program
        .title
          3 часа =
          .price
            4 600
            %small
              рублей


%section#rooms
  .wrapper
    .title
      Интерьер
      %small
        У нас 8 комнат и каждая из них  неповторима.

    .rooms
      - @rooms.each do |room|
        = render partial: 'rooms/room', locals: {room: room}


#map


%script#balloon-template{type: :template}
  .balloon
    .content
      Мы находимся по адресу:
      %br
      улица Степана Супруна, дом 12
      %br
      тел. +7 495 888 88 88
    .arrow-up

.request-call-dialog
  .header-transparent
  .arrow-up
  .content
    %input{type: :text, placeholder: 'Ваше имя'}
    %input{type: :text, placeholder: 'Ваш телефон'}
    .submit
      Заказать звонок
