.massage-programs
  width: 600px
  margin: 0 auto
  .program
    margin: 40px 0
  .program-title
    margin-bottom: 20px
    font-weight: 200
    font-size: 24px
    padding-left: 24px
  .program-content-photo
    float: left
    img
      border-radius: 12px
  .program-content-description
    margin-left: 110px
    line-height: 22px