.topbar
  .wrapper
    .logo
      (962) 918 69 85
      %small
        %br
        Метро Динамо.
        &nbsp;&nbsp;&nbsp;
        Круглосуточно

    %ul.navigation

      %li
        %a.nav-link{href: '#', rel_id: 'girls'}
          Парни

      %li
        %a.nav-link{href: '#', rel_id: 'programs'}
          Программы

      %li
        %a.nav-link{href: '#', rel_id: 'rooms'}
          Интерьер

      %li
        %a.nav-link{href: '#', rel_id: 'map'}
          Контакты

      %li
        %a.get-call{href: '#'}
          Заказать звонок